<p>
  <strong>県名:</strong>
  <%= @prefecture.name %>
</p>

<p>
  <strong>詳細:</strong>
  <%= @prefecture.description %>
</p>

<% @hotels.each do |hotel| %>
  <p><%= hotel.name %></p>
  <p>
  	<%= image_tag(hotel.picture_url, width: 300) if hotel.picture.present? %>
  </p>

  <p><%= hotel.description %></p>
  <p><%= hotel.number_of_rooms %></p>
<% end %>

<%= link_to 'Back', prefectures_path %> 