<p>
  <strong>名前:</strong>
  <%= @hotel.name %>
</p>

<p>
  	<%= image_tag(@hotel.picture_url, width: 300) if @hotel.picture.present? %>
</p>

<p>
  <strong>詳細:</strong>
  <%= @hotel.description %>
</p>

<p>
  <strong>所在地:</strong>
  <%= @hotel.prefecture.name %>
</p>

<p>
  <strong>部屋数:</strong>
  <%= @hotel.number_of_rooms %>
</p>

<%= link_to 'Back', hotels_path %> 
